<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="IInputReader" type="SeatAssignment.Interfaces.IInputReader, SeatAssignment.Interfaces"/>
    <alias alias="IOutputWriter" type="SeatAssignment.Interfaces.IOutputWriter, SeatAssignment.Interfaces"/>
    <alias alias="ITheaterManager" type="SeatAssignment.Interfaces.ITheaterManager, SeatAssignment.Interfaces"/>
    <alias alias="DefaultInputReader" type="SeatAssignment.BusinessLogic.FileInputReader, SeatAssignment.BusinessLogic"/>
    <alias alias="DefaultOutputWriter" type="SeatAssignment.BusinessLogic.FileOutputWriter, SeatAssignment.BusinessLogic"/>
    <alias alias="SimpleTheaterManager" type="SeatAssignment.BusinessLogic.SimpleTheaterManager, SeatAssignment.BusinessLogic"/>
    <alias alias="FairTheaterManager" type="SeatAssignment.BusinessLogic.FairTheaterManager, SeatAssignment.BusinessLogic"/>
    <alias alias="LargeGroupFavoringTheaterManager" type="SeatAssignment.BusinessLogic.LargeGroupFavoringTheaterManager, SeatAssignment.BusinessLogic"/>
    <alias alias="SmallGroupFavoringTheaterManager" type="SeatAssignment.BusinessLogic.SmallGroupFavoringTheaterManager, SeatAssignment.BusinessLogic"/>
    <assembly name ="SeatAssignment.Interfaces" />
    <assembly name ="SeatAssignment.BusinessLogic" />
    <container>
      <register type="IInputReader" mapTo="DefaultInputReader" />
      <register type="IOutputWriter" mapTo="DefaultOutputWriter" />
      <register type="ITheaterManager" mapTo="FairTheaterManager" >
        <lifetime type="singleton" />
      </register>
    </container>
  </unity>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="NumberOfRows" value="30"/>
    <add key="SeatsInEachRow" value="20"/>
    <add key="DefaultInputFilePath" value="G:\Projects\sample-input.txt"/>
    <add key="DefaultOutputFilePath" value="G:\Projects\sample-output.txt"/>
  </appSettings>
</configuration>