<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="NumberofRows" value="10"/>
    <add key="SeatsInEachRow" value="20"/>
    <add key="DefaultInputFilePath" value="20"/>
    <add key="DefaultOutputFilePath" value="20"/>
  </appSettings>
</configuration>